body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}
h1 {
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    font-size :562.5%;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #E4F9F5;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}